<form action='/cars/new' method='POST'>
  <label>Brand: </label><br><br><input id="brand" type='text' name="brand"><br><br>
	<label>Car Model: </label><br><br><input id="car_model" type='text' name='name'><br><br>
	<label>Year: </label><br><br><input id="make_year" type='text' name='make_year'><br><br>
	<input type="submit" value="submit">
</form>